.Admin {
    position: absolute;
    width: 100%;
    height: 100%;

    font-family: Roboto, sans-serif;
    background-color: #f8f8f8;
}

.Screen {
    height: 100%;
}

.Left {
    height: 100%;
}

.Right {
    width: 400px;
    margin-left: 16px;
}
