.App {
    font-family: "Droid Serif";
    color: white;
    text-shadow:
            -1px -1px 0 grey,
            1px -1px 0 grey,
            -1px 1px 0 grey,
            1px 1px 0 grey;
    display: grid;
    grid-template-rows: 1fr max-content;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(orange, #00cccc);
}

.Center {
    grid-row: 1;
    padding: 2.5em;
}

.Bottom {
    grid-row: 2;
}