.info {
    display: inline-block;
    font-size: 220%;
    bottom: 0em;
    padding: 1em;
    margin: 1em;
    background: rgba(0, 0, 0, 0.5);
}

.artist {
    font-weight: bold;
    font-size: 120%;
}

.title {

}
