.Toolbar {
    min-height: auto !important;
    padding-top: 0.75ex;
    padding-bottom: 0.75ex;
}

.Traktor {
    flex-grow: 1;
}

.Online {
    color: darkgreen;
}

.Online:before {
    content: '✔ ︎'
}

.Offline {
    color: red;
}

.Offline:before {
    content: '✘ '
}
